<ion-view view-title="Just Run">
  <ion-content class="padding">
    <div class="list">

      <div class="item item-icon-left" href="#">
          <i class="icon ion-ios-stopwatch-outline"></i>
          <h2>Duration</h2>
        <h1>
          {{displayTime}}
        </h1>
      </div>

      <div class="item item-icon-left" href="#">
          <i class="icon ion-map"></i>
          <h2>Distance</h2>
        <h1>
          0.0 mi
        </h1>
      </div>

      <div class="item item-icon-left" href="#">
          <i class="icon ion-ios-speedometer-outline"></i>
          <h2>Pace</h2>
        <h1>
          {{location}}
        </h1>
      </div>

    </div>
    <button ng-hide="isRunning || isPaused" ng-click="startClicked()" class="button button-block button-balanced">
      Start Running
    </button>
    <button ng-show="isRunning" ng-click="stopClicked()" class="button button-block button-energized">
      {{pauseLabel}}
    </button>
    <button ng-show="isPaused" class="button button-block button-outline button-assertive">
      End Session
    </button>
  </ion-content>
</ion-view>
