<ion-view view-title="Just Run">
  <ion-content class="padding">
    <div class="list">

      <div class="item item-icon-left" href="#">
          <i class="icon ion-ios-timer"></i>
          <h2>Duration</h2>
        <h1>
          63:45:22
        </h1>
      </div>

      <div class="item item-icon-left" href="#">
          <i class="icon ion-ios-timer"></i>
          <h2>Distance</h2>
        <h1>
          21.23 mi
        </h1>
      </div>

      <div class="item item-icon-left" href="#">
          <i class="icon ion-ios-timer"></i>
          <h2>Pace</h2>
        <h1>
          9:32 min/mi
        </h1>
      </div>

    </div>
    <button class="button button-block button-balanced">
      Start Running
    </button>
    <button class="button button-block button-energized">
      Pause
    </button>
    <button class="button button-block button-outline button-assertive">
      End Session
    </button>
  </ion-content>
</ion-view>
